--extra-index-url https://pypi.org/simple
git+https://github.com/angel-one/smartapi-python.git@main#egg=smartapi
flask
pandas
requests
yfinance
selenium
twisted
pyOpenSSL
autobahn
pyotp
ntplib
service_identity
