flask
pandas
requests
yfinance
selenium
twisted
pyOpenSSL
autobahn
pyotp
ntplib
service_identity
git+https://github.com/angel-one/smartapi-python.git@38b7f8c0a9261d726275dd3ee81d6f9c989b3c7f#egg=smartapi-python
