flask
pandas
requests
yfinance
selenium
twisted
pyOpenSSL
autobahn
pyotp
ntplib
service_identity
git+https://github.com/angel-one/smartapi-python.git@baf62e2b2d91b3647b376519de370ed26f81d79a#egg=smartapi-python
